/* Centered and styled contact information */
#contact-info {
  text-align: center; /* Center align the content */
  color: white; /* Set text color to white */
  font-size: 24px; /* Increase font size */
}

/* Contact buttons */
.btn-contact {
  display: inline-block;
  padding: 15px 30px; /* Increase padding for larger buttons */
  text-decoration: none;
  background-color: #767676;
  color: white;
  border: 2px solid orange;
  border-radius: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.btn-contact:hover {
  background-color: orange;
  border-color: orange;
  color: #fff;
}
