/* Navbar */
.navbar {
    background-color: #767676; /* Background color */

     /* Adjust padding as needed */
}

.navbar-brand {
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #fff;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav .nav-item {
    margin-right: 18px; /* Adjust spacing between nav items */
}

.navbar-nav .nav-link {
    font-size: 20px;
    color: #fff;
    transition: .45s all;
}

.navbar-nav .nav-link:hover {
    padding: 12px 20px;
    border-color: orange;
    color: #fff;
}
